
<div class="list-group-item">
  <div class="row">
    <div class="col">
      <%= link_to client.company_name, [client.user, client] %>
    </div>
    <div class="col">
      <small><%= client.value %></small>
    </div>
    <div class="col">
      <% if client.contacts.where(decision_maker: true).blank?  %>
        <small>n/a</small>
      <% else %>
        <small><%= client.contacts.where(decision_maker: true).first.name %></small>
        <br>
        <small><%= client.contacts.where(decision_maker: true).first.role %></small>
      <% end %>
    </div>
      <% if client.comments %>
        <div class="col">
          <% if client.comments.last == nil %>
            <small>N/A</small>
          <% else %>
            <small><%= client.comments.last.created_at.strftime("%b. %d %Y") %></small>
          <% end %>
        </div>
        <div class="col text-truncate">
          <% if client.comments.last == nil %>
            <small>N/A</small>
          <% else %>
            <small><%= client.comments.last.body %></small>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>