<div class="title-heading">
  <h3><strong><%= @client.company_name %></strong></h3>
</div>
<div class="row contents-container">
  <div class="col">
    <div class="comments-container">
      <div class="row comments-header">
        <div class="col">
          <h4>Comments</h4>
        </div>
        <div class="col add-comment-container">
          <a id="add-comment-button" class="btn btn-success btn-sm" href="/users/<%= @client.user.id %>/clients/<%= @client.id %>/comments/new">New Comment</a>
        </div>
      </div>
      <div class="list-group comment-list">
        <% @client.comments.order(created_at: :desc).each do |comment| %>
          <%= render partial: 'comments/show', locals: {comment: comment} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="contacts-container">
      <div class="row contacts-header">
        <div class="col">
          <h4>Name</h4>
        </div>
        <div class="col">
          <h4>Role</h4>
        </div>
        <div class="col">
          <h4>Email</h4>
        </div>
        <div class="col">
          <h4>Phone</h4>
        </div>
        <div class="col">
          <a id="add-contact-button" class="btn btn-success btn-sm" href="/users/<%= @client.user.id %>/clients/<%= @client.id %>/contacts/new">Add Contact</a>
        </div>
      </div>
      <div class="list-group contact-list">
        <% @client.contacts.order(created_at: :desc).each do |contact| %>
          <%= render partial: 'contacts/show', locals: {contact: contact} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
