<div class="list-group-item contact-list-item">
  <div class="row contact-row">
    <div class="col">
      <small><%= contact.name %></small>
      <% if contact.decision_maker == true %>
        <small>(<strong>DM</strong>)</small>
      <% end %>
    </div>
    <div class="col">
      <small><%= contact.role %></small>
    </div>
    <div class="col">
      <small><a href="mailto:<%= contact.email %>"><%= contact.email %></a></small>
    </div>
    <div class="col">
      <small><%= contact.phone %></small>
    </div>
    <div class="col">
      <%= link_to "Edit", edit_user_client_contact_path(contact.client.user, contact.client, contact), class: 'edit-contact small' %>
      <small>|</small>
      <%= link_to "Delete", user_client_contact_path(contact.client.user, contact.client, contact), method: 'delete', class: 'small' %>
    </div>
  </div>
</div>
